.banner_home_brand {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.home-brand__wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  
  .home-brand__slider {
    width: 100%; }
    .home-brand__slider .owl-stage {
      display: flex;
      align-items: center; }
    @media (max-width: 767px) {
      .home-brand__slider {
        width: 100%; } }
  
  .home-brand__item {
    position: relative; }
    .home-brand__item img {
      opacity: 0.5;
      -webkit-transition: all .15s ease-out;
      -o-transition: all .15s ease-out;
      transition: all .15s ease-out; }
    .home-brand__item:hover img {
      opacity: 1; }
  
  .home-brand__link {
    position: relative;
    display: block; }
  
  .home-brand__image {
    position: relative;
    transition: all 0.3s; }